#loginScreen,#profileUpdateScreen, #signUpScreen ,#newBlogForm,#newBlogScreen,#loggedInOptions{
	display: none;
}
H1 { text-align: center }
#loginScreen{
	float: right;
    padding: 15px;
}
#profileOptionsBtn{
   position:absolute;
   top:45px;
   right:50px;
}
#signUp{
	float: right;
    padding: 15px;
	clear :right;
}

.form-group ,#postDetails{
    max-width: 75%;
	
}
#postDetails{
	margin-left:15%;
	height : 1000px;
}
#newBlogForm,#newBlogScreen {
	margin-left: 20%;
	margin-top: 3%;
}

#custom-search-input,#homeOptions_default{
	
	margin-top: 7%;
}
#custom-search-input .glyphicon-search{
    font-size: 15px;
}

